nav {
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5%;
  height: 100px;
}

ul {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

ul li {
  list-style: none;
  font-family: Cinzel, "Times New Roman", Times, serif;
  color: black;
}

nav ul li:hover {
  text-decoration: underline;
}

ul a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

#navToggle {
  position: absolute;
  top: -100px;
}

.iconBurger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.iconBurger .line {
  width: 30px;
  height: 5px;
  background-color: #000;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  nav {
    position: fixed;
  }
  ul {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #96b6c5;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    align-items: center;
  }

  ul a {
    font-size: 20px;
    color: #fff;
  }
  a:hover {
    color: black;
  }
  nav ul li:hover {
    text-decoration: none;
  }
  :checked ~ ul {
    bottom: 0;
  }
  .iconBurger {
    display: block;
  }
  :checked ~ .iconBurger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  :checked ~ .iconBurger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  :checked ~ .iconBurger .line:nth-child(2) {
    opacity: 0;
  }
}
